@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

html, body {
  font-family: 'Fjalla One', sans-serif;
  box-sizing: border-box;
}

.theSocialPup {
  letter-spacing: 1.8px;
  font-size: 72px;
  margin-top: 5%;
}

.makeFriends{
  letter-spacing: 1.5px;
  font-size: 20px;
  margin-bottom: 3%;
}

.landingPage {
  text-align: center;
}

.loginButton, .signupButton {
  margin: 10px;
  padding: 4px 6px;
  border: 2px #FCF8ED solid;
  border-radius: 4px;
  color: #FCF8ED;
  background-color: #E76F51;
  transition: all .3s;
}

.loginButton:active {
  color: black;
}

img {
  height: 200px;
  width: auto;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: #264653;
}

.form {
  margin-left: 50%;
  transform: translateX(-50%);
  height: auto;
  width: 40%;
  border: 3px #E76F51 dotted;
  border-radius: 10px;
}

.form > * {
  margin: 5px 6px;
}

.navBar {
  display: flex;
  justify-content: space-evenly;
  padding: 3% 0;
  background-color: #F8D2C9;
}

.navBar > * {
  padding: 3px 5px;
  border: 3px #E76F51 dotted;
  border-radius: 5px;
}

.profilePage {
  align-items: center;
  margin-left: 50%;
  transform: translateX(-50%);
}

.profileName{
  text-align: center;
}

.profileCard {
  border-radius: 5px;
  display: flex;
  padding: 10px 15px;
  border: 4px #FCF8ED solid;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.profileDetails {
  margin-top: 25%;
  width: 100%;
  height: 100%;
  transform: translateY(-50%);
}

.profileDetails > * {
  margin-left: 25%;
  transform: translateX(-50%);
}

.welcome {
  text-align: center;
}

.friends {
  margin-left: 50%;
  transform: translateX(-50%);
}

.friends > * {
  list-style: none;
  padding: 10px 15px;
  border: 4px #FCF8ED solid;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 20px 40px;
  width: 600px;
}


.friendDetails {

}

.logoutButton {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 20%;
  padding: 6px 10px;
  border: 2px #FCF8ED solid;
  border-radius: 6px;
  color: #FCF8ED;
  background-color: #E76F51;
  font-size: 24px;
}

.logoutButton:hover {
  cursor: pointer;
}
